.leftBoard__form {
    display: none;
}

.leftBoard__form--open {
    display: block;
}

.leftBoard__form-input {
    margin-bottom: 3rem;
    font-family: 'Big Noodle';
    border: 2px solid #E83F85;
}

.leftBoard__form-button {
    margin-left: 0.5rem;
    background-color: #E83F85;
    font-family: 'Big Noodle';
    color: #FFFFFF;
    border: none;
}