.footer__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__listItem {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25rem;
    background-color: #FFFFFF;
    font-family: 'Big Noodle';
    font-size: 1rem;
    border: 1px solid #E83F85;
    border-radius: 0.5rem;
}

.footer__title {
    padding-left: 1rem;
    font-family: 'Big Noodle';
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #E83F85;
}

